services:
  - type: web
    name: ceremony_api
    env: docker
    dockerfilePath: ./Dockerfile

    postDeployCommand: |
      php artisan config:cache
      php artisan route:cache
      php artisan view:cache
      php artisan migrate --force

    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: "false"
      - key: APP_URL
        value: https://${RENDER_EXTERNAL_HOSTNAME}
      - key: VITE_APP_URL
        value: https://${RENDER_EXTERNAL_HOSTNAME}
      - key: MIX_ASSET_URL
        value: https://${RENDER_EXTERNAL_HOSTNAME}
      - key: NODE_ENV
        value: production
      - key: FORCE_HTTPS
        value: "true"
      - key: APP_KEY
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: GEMINI_API_KEY
        sync: false